<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GardeningFriend"
        tools:targetApi="31">
        <activity
            android:name=".seccionIA.ActivityDisplayFavs"
            android:exported="false" />
        <activity
            android:name=".seccionIA.ActivityAsistenteIA"
            android:exported="false" />
        <activity
            android:name=".notas.NoteDetailsActivity"
            android:exported="false"
            android:parentActivityName=".notas.NoteActivity" />
        <activity
            android:name=".notas.NoteActivity"
            android:exported="false" />
        <activity
            android:name=".favoritos.FavoritosSeccion"
            android:exported="false" />
        <activity
            android:name=".panelAdmin.PanelAdminEditarUsuario"
            android:exported="false" />
        <activity
            android:name=".panelAdmin.PanelAdminUsuarios"
            android:exported="false" />
        <activity
            android:name=".panelAdmin.PanelAdminEditarCultivo"
            android:exported="false" />
        <activity
            android:name=".panelAdmin.PanelAdminAgregarCultivo"
            android:exported="false" />
        <activity
            android:name=".panelAdmin.PanelAdminCultivos"
            android:exported="false" />
        <activity
            android:name=".recomendaciones.RecomendacionesDetalles"
            android:exported="true" />
        <activity
            android:name=".panelAdmin.PanelAdmin"
            android:exported="false" />
        <activity
            android:name=".registro.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".contacto.ContactoSeccion"
            android:exported="false" />
        <activity
            android:name=".perfil.Perfil"
            android:exported="false" />
        <activity
            android:name=".perfil.EditarPerfilActivity"
            android:exported="false"
            android:parentActivityName=".perfil.Perfil" />
        <activity
            android:name=".login.Login"
            android:exported="false" />
        <activity
            android:name=".enciclopedia.Enciclopedia"
            android:exported="false" />
        <activity
            android:name=".inicio.Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recomendaciones.RecomendacionesCultivos"
            android:exported="true" />
        <activity
            android:name=".recomendaciones.Recomendaciones"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <receiver android:name=".recursosVarios.AlarmReceiver" />
    </application>

</manifest>