<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GardeningFriend"
        tools:targetApi="31">
        <activity
            android:name=".PanelAdminEditarUsuario"
            android:exported="false" />
        <activity
            android:name=".PanelAdminUsuarios"
            android:exported="false" />
        <activity
            android:name=".PanelAdminEditarCultivo"
            android:exported="false" />
        <activity
            android:name=".PanelAdminAgregarCultivo"
            android:exported="false" />
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false"
            android:parentActivityName=".Perfil"/>
        <activity
            android:name=".NoteDetailsActivity"
            android:exported="false"
            android:parentActivityName=".NoteActivity"/>
        <activity
            android:name=".NoteActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarCultivo"
            android:exported="false" />
        <activity
            android:name=".PanelAdminCultivos"
            android:exported="false" />
        <activity
            android:name=".RecomendacionesDetalles"
            android:exported="true" />
        <activity
            android:name=".PanelAdmin"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".ContactoSeccion"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Enciclopedia"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecomendacionesCultivos"
            android:exported="true" />
        <activity
            android:name=".Recomendaciones"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>